<% if (typeof userName !== 'undefined') { %>
<div class="grid grid-col-2">
  <h1 class="text-xl font-semibold text-gray-600 mb-6 mt-5">
    <a href="/" class="style-none style-none mr-20"
      ><%= userName %>'s Todo-Manager</a
    >

    <a href="/signout">
      <button
        class="bg-red-500 text-white px-2 py-1 rounded text-sm border-2 border-red-600"
      >
        Sign out
      </button>
    </a>
  </h1>
</div>

<% } else { %>
<h1 class="text-2xl font-semibold text-gray-600 mb-6 mt-5">
  <a href="/" class="style-none">My Todo-Manager</a>
  <% } %>
</h1>

<%- include('flashes.ejs') %>
